{{ define "details" }}
<head>
  {{ template "header" }}
</head>
<body>
  {{template "navbar"}}
  <div class="container col-xs-12 col-sm-12 col-md-6">
    <div class="panel panel-info">
      <div class="panel-heading">
      <strong>Transactions in {{.type}}</strong>
      </div>
      <div class="panel-body">
    <table class="table datatable table-bordered table-hover">
      <thead>
        <th>
          Date
        </th>
        {{if .mapping}}
        <th>
          Category
        </th>
        {{end}}
        <th>
        Description
        </th>
        <th>
          Amount
        </th>
      </thead>
      <tbody>
        {{range .data}}
        <tr>
          <td>
            {{.Date}}
          </td>
          {{if $.mapping}}
          <td>
            {{.Mapping}}
          </td>
          {{end}}
          <td>
            {{.Description}}
          </td>
          <td align="right">
            {{.Amount | printf "%.2f"}} CHF
          </td>
        </tr>
        {{end}}
      </tbody>
    </table>
  </div>
</div>
</div>
</body>
{{end}}
