{{ define "categories" }}
<head>
  {{ template "header" }}
</head>
<body>
  {{ template "navbar" }}
  <div class="container col-xs-12 col-sm-12 col-md-6">
    <form class="form-horizontal" action="/confirm/categories" method="post">
      <legend>Manage categorization</legend>
      {{ range . }}
      <div class="form-group row">
        <label for="description" class="col-sm-2 col-form-label">{{.Description}}</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="{{.ID.Value}}_{{.Description}}" id="description" {{if .Mapping.Value}}value="{{.Mapping.Value}}" {{else}}placeholder="Missing description" {{end}}>
        </div>
      </div>
      {{ end }}
      <div class="form-group">
        <div class="col-xs-offset-2 col-xs-10">
          <input type="submit" class="btn btn-info" value="Send">
          <a href="/" class="btn btn-danger" role="button">Cancel</a>
        </div>
      </div>
    </form>
  </div>
</body>
{{ end }}
