{{ define "header" }}
  <title>GoFinance</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" class="href">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{{ end }}

{{ define "navbar" }}
<nav class="navbar navbar-default">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">GoFinance</a>
    <ul class="nav navbar-nav">
      <li><a href="/stats">Stats</a></li>
      <li><a href="/categories">Categories</a></li>
    </ul>
  </div>
</nav>
{{end}}
