<head>
  <title>GoFinance</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" class="href">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">GoFinance</a>
    </div>
  </nav>
  <div class="col-xs-12 col-sm-12 col-md-6">
    <form class="form-horizontal" action="/confirm/new/fixed" method="post">
      <legend>Enter new fixed income/expense</legend>
      <div class="form-group">
        <label for="description" class="control-label col-xs-2">Description</label>
        <div class="col-xs-10">
          <input type="text" class="form-control" name="description" id="description" placeholder="Description">
        </div>
      </div>
      <div class="form-group">
        <label for="amount" class="control-label col-xs-2">Amount</label>
        <div class="col-xs-10">
          <input type="number" class="form-control" name="amount" id="amount" placeholder="e.g. 12.5">
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-offset-2 col-xs-10">
          <label><input type="checkbox" name="income"> Is income?</label>
        </div>
      </div>
      <div class="form-group">
        <label for="recurrence" class="control-label col-xs-2">Recurrence</label>
        <div class="col-xs-10">
          <select class="form-control" name="recurrence" id="recurrence">
            <option selected>Select recurrence scheme</option>
            <option value="monthly">Monthly</option>
            <option value="quarterly">Quarterly</option>
            <option value="twice a year">Twice a Year</option>
            <option value="yearly">Yearly</option>
          </select>
        </div>
      </div>
      <div class="form-group">
      <div class="col-xs-offset-2 col-xs-10">
        <input type="submit" class="btn btn-info" value="Send">
        <a href="/" class="btn btn-danger" role="button">Cancel</a>
      </div>
      </div>
    </form>
  </div>
</body>
