{{ define "stats" }}
<head>
  {{ template "header" }}
  <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
  <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
</head>
<style>
  .ct-label {
    font-size: 15px;
  }

  .ct-series-b .ct-line {
    stroke: #A9A9F5;
  }
</style>

</script>
<body>
  {{template "navbar"}}
  <div class="col-xs-12 col-sm-6 col-md-6">
    <div class="panel panel-info">
      <div class="panel-heading">
        <strong>This weeks expenses</strong>
      </div>
      <div class="panel-body">
        <div class="ct-chart" id="dayline">
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6">
    <div class="panel panel-info">
      <div class="panel-heading">
        <strong>Expenses by category</strong>
      </div>
      <div class="panel-body">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Category</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            {{range .types}}
            <tr>
              <td>
                <a href="/stats/{{.Descr}}">{{.Descr}}</a>
              </td>
              <td align="right">
                {{.Val | printf "%.2f"}}
              </td>
              {{end}}
            </tr>
          </tbody>
        </div>
      </div>
    </div>
  </div>
  <script>
    var data = {
      labels: {{.dayLabels}},
      series: [{{.dayValues}},
        [0, 0, 0, 0, 0, 0, 0]
      ]
    };
    var options = {
      height: 200,
      onlyInteger: true,
      showArea: true
    }
    lineSmooth: Chartist.Interpolation.simple({
        divisor: 2
      }),
    new Chartist.Line('#dayline', data, options);
  </script>
</body>
{{ end }}
