{{ define "stats" }}
<head>
  {{ template "header" }}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.bundle.min.js"></script>
</head>
<style>
  .ct-label {
    font-size: 15px;
  }

  .ct-series-b .ct-line {
    stroke: #A9A9F5;
  }
</style>

</script>
<body>
  {{template "navbar"}}
  <div class="col-xs-12 col-sm-6 col-md-6">
    <div class="panel panel-info">
      <div class="panel-heading">
        <strong>This weeks expenses</strong>
      </div>
      <div class="panel-body">
          <canvas id="weekline"></canvas>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6">
    <div class="panel panel-info">
      <div class="panel-heading">
        <strong>All months expenses</strong>
      </div>
      <div class="panel-body">
          <canvas id="monthbars"></canvas>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6">
    <div class="panel panel-info">
      <div class="panel-heading">
        <strong>Expenses by category</strong>
      </div>
      <div class="panel-body">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Category</th>
              <th>Amount</th>
              <th>Percentage of Total</th>
            </tr>
          </thead>
          <tbody>
            {{range .types}}
            <tr>
              <td>
                <a href="/stats/{{.Descr}}">{{.Descr}}</a>
              </td>
              <td align="right">
                {{.Val | printf "%.2f"}}
              </td>
              <td align="right">
                {{.Percent | printf "%.2f"}}
              </td>
              {{end}}
            </tr>
          </tbody>
        </div>
      </div>
    </div>
  </div>
  <script>
  var weekline = $("#weekline")
  var data = {
      labels: {{.dayLabels}},
      datasets: [
          {
            label: "Expenses",
            backgroundColor: "rgba(75,192,192,0.4)",
            borderColor: "rgba(75,192,192,1)",
            borderCapStyle: 'round',
            data: {{.dayValues}},
          }
      ],
    }
    var monthbars = $("#monthbars")
    var data2 = {
        labels: {{.monLabels}},
        datasets: [
            {
              label: "Saved Money",
              backgroundColor: "rgba(153, 102, 255, 0.2)",
              borderColor: "rgba(153, 102, 255, 1)",
              borderWidth: 2,
              data: {{.monValues}},
            }
        ],
      }
    // var options = {
    //   height: 200,
    //   onlyInteger: true,
    //   showArea: true
    // }
    // lineSmooth: Chartist.Interpolation.simple({
    //     divisor: 2
    //   })
    new Chart(weekline, {type: 'line', data:data});
    new Chart(monthbars, {type: 'bar', data:data2});
  </script>
</body>
{{ end }}
